@media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction:column;
    }
  
    .left, .right {
      flex: 1 1 auto;
    }

    .texto1 {
      font-size: 16px;
      height: 12px;
      margin-top: 570px;
      color: cornsilk;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .texto2 {
      color: cornsilk;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
  
    .texto3 {
      margin-top: 470px;
    }

    p {
      font-size: 16px;
      height: 40px;
      font-weight: bold;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    img {
      width: 100%;
      padding: 0px;
    }

  }
  
  @media (max-width: 480px) {
    
    .video {
      transform: scale(0.8);
    }
  }